<div class="container post-park">
  <hr class="border-line"/>
    <h2 class="text-center">パーク一覧</h2>
  <hr class="border-line"/>
  <% @parks.each do |park| %>
    <div class="row park-index-park">
      <div class="post-index-post-image">
        <%= link_to park_path(park) do %>
          <%= attachment_image_tag park, :park_image, fallback: "no-image.jpg", class: "park-index-park-image" %>
        <% end %>
      </div>
      <div class="post-index-post-box">
        <p class="post-index-post-user-name">
          <i class="fas fa-map-marker-alt"></i>
          <%= park.parkname %>
        </p>
        <p class="post-index-post-body">
          <%= park.parkbody %>
        </p>
      </div>
    </div>
  <% end %>
</div>
