<!--他人の詳細ページ-->
<div class="user-show-other-image">
  <%= link_to user_path(user) do %>
    <%= attachment_image_tag user, :profile_image, fallback: "no-image.jpg", class: "other-image" %>
  <% end %>
</div>
<div class="user-show-other-box">
  <div class="user-show-other-name">
    <%= user.name %>
  </div>
  <div class="user-show-other-body">
    <%= user.introduction %>
  </div>
</div>