<!--マイページ・ユーザー詳細-->
<div class="container post-park">

    <% if @user == current_user %>
      <%= render 'users/personal', user: @user %>
    <% else %>
      <%= render 'users/other', user: @user %>
    <% end %>

    <h3 class="user-personal-index-title">投稿一覧</h3>
    <div class="user-post-post-index">
      <%= render 'posts/post.index', post: @posts %>
    </div>

</div>