<!--マイページ・ユーザー詳細-->
<div class="container user-show">

    <% if @user == current_user %>
      <%= render 'users/personal', user: @user %>
    <% else %>
      <%= render 'users/other', user: @user %>
    <% end %>

    <div class="user-post-post-index">
      <%= render 'posts/post.index', post: @posts %>
    </div>

</div>