<!--マイページ・ユーザー詳細-->

<div class="container">

  <div class="row">
    <% if @user == current_user %>
      <!--マイページを表示-->
      <%= render 'users/personal', user: @user %>
    <% else %>
      <!--他人の詳細ページ-->
      <%= render 'users/other', user: @user %>
    <% end %>
  </div>

  <!--投稿一覧-->
  <div class="row">
    <h1>投稿一覧</h1>
    <%= render 'posts/post.index', post: @posts %>
  </div>

</div>