<div class="top-background" >
  <div class="container">
    <!--サイトの説明-->
    <div class="row homes-top-top-all">
      <div class="top-message-box">
        <h1 class="top-message-title">SK8ER BOi</h1>
        <div class="about-message-title-subtitle">
          <h3 class="about-message-body">
            スケボーに興味を持って始めて見たい人
          </h3>
          <h3 class="about-message-body">
            まだ何から始めていいか分からずに困っている初心者スケーター
          </h3>
          <h3 class="about-message-body">
            スケーター歴の長い経験者など
          </h3>
          <h3 class="about-message-body">
            様々な人達が気軽にコミュニケーションを取ることが出来る投稿サイトです
          </h3>
        </div>

        <div class="about-message-exsample-box">
          <div class="about-message-exsample-body">
            <p>〜〜〜こんなことを投稿してみよう〜〜〜</p>
            <p>
              お気に入りのスケボーやオススメのアイテムを紹介したい</br>
              練習しやすい環境やパークを教えたい</br>
              自分が習得できたスキルを見て欲しい</br></br>など</br>
            </p>
            <p>
              思ったことを気軽に投稿しよう！
            </p>
          </div>
        </div>
      </div>

      <div class="top-btn-menu-about">
        <p class="top-btn-menu-text">
          Let's give it a go together !
        </p>
        <i class="fas fa-sort-down"></i>
      </div>

      <div class="top-btn-box">
        <div class="top-btn">
          <%= link_to '新規登録',new_user_registration_path, class: "btn-cross" %>
        </div>
        <div class="top-btn">
          <%= link_to 'ログイン',new_user_session_path, class: "btn-cross" %>
        </div>
      </div>
      <div class="top-btn-box">
        <div class="top-btn">
          <%= link_to 'ゲストログイン',users_guest_sign_in_path, method: :post, class: "btn-cross" %>
        </div>
        <div class="top-btn">
          <%= link_to '戻る',root_path, class: "btn-cross" %>
        </div>
      </div>
  </div>
</div>