<div class="top-background" >
  <div class="container">
    <!--サイトの説明-->
    <div class="row">

    <h1>SK8ER Boi</h1>

    <div class="btn-wrapper col-10 mx-auto text-center">
        <div class="pt-5">
          <%= link_to 'SK8ER BOiとは',home_about_path, class: "btn-cross" %>
        </div>
        <div class="pt-5">
          <%= link_to '新規登録',new_user_registration_path, class: "btn-cross" %>
        </div>
        <div class="pt-5">
          <%= link_to 'ログイン',new_user_session_path, class: "btn-cross" %>
        </div>
        <div class="pt-5">
          <%= link_to 'ゲストログイン',new_user_registration_path, class: "btn-cross" %>
        </div>
    </div>

</div>