<div class="top-background" >
  <div class="container">
    <!--サイトの説明-->
    <div class="row">

    <h1>SK8ER Boi</h1>
    <h3>ここはスケボーに興味を持って始めて見たい人や、初心者スケーターなどが気軽に投稿できてコミュニケーションを取る事ができる投稿サイトです</h3>
    <p>
      お気に入りのスケボーやオススメのアイテムを紹介したい</br>
      練習しやすい環境やパークを教えたい</br>
      自分が習得できたスキルを見て欲しい  など</br>
    </p>
    <p>
      思ったことを気軽に投稿しよう！
    </p>

    <div class="btn-wrapper col-10 mx-auto text-center">
        <div class="pt-5">
          <%= link_to 'SK8ER BOiとは',home_about_path, class: "btn-cross" %>
        </div>
        <div class="pt-5">
          <%= link_to '新規登録',new_user_registration_path, class: "btn-cross" %>
        </div>
        <div class="pt-5">
          <%= link_to 'ログイン',new_user_session_path, class: "btn-cross" %>
        </div>
        <div class="pt-5">
          <%= link_to 'ゲストログイン',new_user_registration_path, class: "btn-cross" %>
        </div>
    </div>

</div>