<div class="container">
  <div class="row">

    <hr class="border-line"/>
      <h2>みんなの投稿</h2>
    <hr class="border-line"/>
      <div>
        <%= render 'posts/post.index', posts: @posts %>
      </div>
  </div>
</div>