/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  background-color: #00f0ff14;
}

header {
  font-family: 'Yusei Magic', sans-serif;
}

h3.footer-title {
  width: 100%;
  text-align: center;
  margin: 10px;
}

p.footer-text {
  width: 100%;
  text-align: center;
}

.container.post-park {
  font-family: 'Yusei Magic', sans-serif;
  background-color: white;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 12px;
  margin-bottom: 50px;
  opacity: 0.84;
}

a.btn.btn-default.btn-md.tag-button {
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 15px;
}

.pagination {
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    width: 14%;
    margin: auto;
}

.post-index-pagination {
    width: 100%;
    text-align: center;
    margin: 30px;
}
