// Place all the styles related to the parks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  height: 600px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  width: 80%
}

.row.park-index-park {
  width: 60%;
  border-radius: 30px;
  border: 2px #a6a6a6 solid;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

img.attachment.park.park_image.park-index-park-image {
  border-radius: 20px;
  width: 100%;
}

.row.park-show-all-box {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

.park-show-parkname {
  width: 100%;
  margin: 25px;
}

.park-show-park-image {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}


img.attachment.park.park_image.park-show-park-image-size {
  width: 80%;
  border-radius: 20px;
}

.park-show-parkbody {
  width: 75%;
  margin: auto;
  margin-top: 50px;
}

.park-show-park-map-box {
  width: 100%;
  margin-top: 50px;
}

.park-show-park-map-title {
  margin: 40px;
}

.park-show-park-map-address {
  margin: 30px;
}