// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-show-user-other {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  border: 1px solid #a6a6a6;
  border-radius: 80px;
}

.user-show-other-image {
  width: 20%;
}

img.attachment.user.profile_image.other-image {
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50px;
  margin: 30px;
}

.user-show-other-box {
  width: 80%;
  margin-top: 25px;
}

.user-show-other-name {
  font-size: 25px;
}

.user-show-other-body {
  margin: 10px 20px 10px 0px;
}